<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aster" version="0.0.3-pre3" targetFramework="portable46-net451+win81" />
  <package id="CoreTweet" version="0.6.2.277" targetFramework="portable46-net451+win81" />
  <package id="Fody" version="1.29.4" targetFramework="portable46-net451+win81" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="portable46-net451+win81" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="portable46-net451+win81" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="portable46-net451+win81" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="portable46-net451+win81" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="portable46-net451+win81" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="portable46-net451+win81" />
  <package id="ReactiveProperty" version="2.7.2" targetFramework="portable46-net451+win81" />
  <package id="Realm" version="0.74.1" targetFramework="portable46-net451+win81" developmentDependency="true" />
  <package id="Rx-Core" version="2.2.5" targetFramework="portable46-net451+win81" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="portable46-net451+win81" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="portable46-net451+win81" />
  <package id="Rx-Main" version="2.2.5" targetFramework="portable46-net451+win81" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="portable46-net451+win81" />
  <package id="StatefulModel" version="0.5.0" targetFramework="portable46-net451+win81" />
  <package id="Validation" version="2.2.8" targetFramework="portable46-net451+win81" />
  <package id="Xamarin.Forms" version="2.2.0.31" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>